<% unless @shoe.has_picture_upload? %> <!-- this is the code to  be added -->
   <%= direct_upload_form_for(@shoe.picture) do |f| %>
      <div class="field">
        <%= f.label :picture %><br>
        <%= f.file_field :picture %>
      </div>
     <div class="actions">
        <%= f.submit %>
     </div>
   <% end %>
<% else %>
   <%= "File \"#{File.basename(@shoe.key)}\" has been uploaded to S3." %>
<% end %>




<%= form_for @shoe, :html => {:multipart => true} do |f| %>
  <% if @shoe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

      <ul>
      <% @shoe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>


  <!--<div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %> <!--pag18 dan20
  </div> -->


  <div class="field">
    <%= f.label :designer %><br>
    <%= f.text_field :designer %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>

<%= f.hidden_field :key %> <!-- this line added too -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
