<h1>Zapatos cuquis</h1>

  <table class="table table-hover"> <!-- these classes added -->
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th>Designer</th>
      <th>Description</th>
      <th>Color</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shoes.each do |shoe| %>
      <tr>
        <td><%= shoe.name %></td>

        <td><a href="< %= shoe.picture_url %>"><%= image_tag  shoe.picture_url(:thumb) if shoe.picture? %></a></td>

        <td><%= shoe.designer %></td>
        <td><%= shoe.description %></td>
        <td><%= shoe.color %></td>
        <td><%= link_to 'Show', shoe %></td>
        <td><%= link_to 'Edit', edit_shoe_path(shoe) %></td>
        <td><%= link_to 'Destroy', shoe, method: :delete, data: { confirm: 'Are you sure?' } %></td>



      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shoe', new_shoe_path %>
