<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shoe.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@shoe.picture_url, :width => 600) if  @shoe.has_picture_upload? %>
<p>
  <strong>Designer:</strong>
  <%= @shoe.designer %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shoe.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @shoe.color %>
</p>

<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
